{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
    <div class="row-1">
        <div class="col-1">
            <h1>Lorem ipsum dolor </h1><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, voluptatibus quisquam! Quisquam, odit! Commodi repudiandae culpa natus excepturi perferendis voluptatibus cumque aut veritatis, animi obcaecati delectus possimus veniam, velit
                quia! Veniam, deleniti expedita doloribus alias harum accusamus vitae enim consequatur.
            </p>
            <div class="btn">
                <a href="products.html">&#x261E; Explore More</a>
            </div>
        </div>
        <div class="col-1">
            <div class="mySlides fade">
                <img src="static\slideShow-1.png">
            </div>

            <div class="mySlides fade">
                <img src="static\slideShow-2.png">
            </div>

            <div class="mySlides fade">
                <img src="static\slideShow-3.png">
            </div>
            <div class="mySlides fade">
                <img src="static\slideShow-4.png">
            </div>

        </div>
    </div>


    </div>











    <!-- -------------------------------------------------------------------------- -->















    <div class="container-panel">
        <div class="row-2">
            <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
                <img class="image" src="static\featured (1).jpg" draggable="false">

                <img class="image" src="static\featured (2).jpg" draggable="false">

                <img class="image" src="static\featured (3).jpg" draggable="false">

                <img class="image" src="static\featured (4).jpg" draggable="false">

                <img class="image" src="static\featured (5).jpg" draggable="false">

                <img class="image" src="static\featured (6).jpg" draggable="false">
                <img class="image" src="static\featured (7).jpg" draggable="false">

            </div>

        </div>

    </div>








    <!-- ------------------------------------------------------------------------------ -->









    <div class="categories-1">

        <div class="small-container">
            <h2 class="title-name">Feature categories</h2>

            <div class="row-3">
                <div class="col-3">

                    <img src="static\product-1.jpg">
                    <h4>Simple watch 1</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 199</p>
                </div>
                <div class="col-3">

                    <img src="static\product-2.jpg">
                    <h4>Simple watch 2</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 199</p>

                </div>
                <div class="col-3">

                    <img src="static\product-3.jpg">
                    <h4>Simple watch 3</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 199</p>

                </div>



            </div>

        </div>

    </div>






    <!-- -------------------------------------------------------------------------------- -->













    <div class="categories-1">

        <div class="small-container">
            <h2 class="title-name">Latest Products</h2>

            <div class="row-3">
                <div class="col-3">

                    <img src="static\product-4.jpg">
                    <h4>Simple watch 1</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 199</p>
                </div>
                <div class="col-3">

                    <img src="static\product-5.jpg">
                    <h4>Simple watch 2</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 199</p>

                </div>
                <div class="col-3">

                    <img src="static\product-6.jpg">
                    <h4>Simple watch 3</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 199</p>

                </div>



            </div>

        </div>
        <div class="small-container">
            <div class="row-3">
                <div class="col-3">

                    <img src="static\product-7.jpg">
                    <h4>Simple watch 1</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 199</p>
                </div>
                <div class="col-3">

                    <img src="static\product-8.jpg">
                    <h4>Simple watch 2</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 199</p>

                </div>
                <div class="col-3">

                    <img src="static\product-9.jpg">
                    <h4>Simple watch 3</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 199</p>

                </div>



            </div>

        </div>
    </div>








    <!-- -------------------------------------------------------------- -->








    <div class="offer">
        <div class="col-4">
            <img src="static\product-10.jpg">
        </div>

        <div class="col-4">
            <br>
            <h1>Lorem ipsum dolor sit amet</h1>


            <p>Lorem ip laudantium ipsam sunt. Sit aliquam, saepe se velit totam, eaque maxime illo, quam nobis modi culpa iste odit magnam quaerat, dolorum aperiam voluptatibus aspernatur omnis laudantium rerum tempore. Rem hic non, ducimus at facilis iure
                veniam?
            </p>

        </div>


    </div>




    <!-- ----------------------------------------------------------------- -->





    <!-- --------------------------------------------------------------------------------------------------- -->




    {% endblock body %}
